:root {
  --TB-tr-roundness: var(--window-roundness);
  --TB-position-top: calc(var(--window-padding));
  --TB-position-right: var(--window-padding);
  --tint: rgba(var(--tint-colour), var(--tint-brightness));
  --white-half: rgba(255,255,255,0.025);
  --white: rgba(255,255,255,0.05);
  --white-double: rgba(255,255,255,0.1);
  --white-triple: rgba(255,255,255,0.15);
  --gradient: linear-gradient(var(--gradient-direction), rgb(var(--gradient-primary)), rgb(var(--gradient-secondary)));
  --gradient-20: linear-gradient(var(--gradient-direction), rgba(var(--gradient-primary), 0.2), rgba(var(--gradient-secondary), 0.2));
  --gradient-50: linear-gradient(var(--gradient-direction), rgba(var(--gradient-primary), 0.5), rgba(var(--gradient-secondary), 0.5));
  --gradient-90: linear-gradient(var(--gradient-direction), rgba(var(--gradient-primary), 0.9), rgba(var(--gradient-secondary), 0.9));
  --text-shadow: 1;
  --chat-embed: var(--background-secondary);
  --discord-green: 67,181,129;
  --discord-yellow: 219,171,9;
  --discord-red: 215,58,73;
  --discord-purple: 89,54,149;
  --discord-invisible: 117,128,142;
  --discord-nitro: 255,115,250;
  --discord-blurple: 114,137,218;
  --discord-spotify: 29,185,84;
  --discord-twitch: 89,54,149;
  --discord-xbox: 16,124,16;
  --version: "Frosted Glass 2.0.7";
}

.theme-dark {
  --header-primary: #fff;
  --header-secondary: #bbb;
  --text-normal: #fff;
  --text-default: #ddd;
  --text-muted: #aaa;
  --text-link: #00b0f4;
  --channels-default: #ddd;
  --interactive-normal: #bbb;
  --interactive-hover: #eee;
  --interactive-active: #fff;
  --interactive-muted: #777;
  --background-primary: transparent;
  --background-secondary: rgba(0,0,0,0.3);
  --background-secondary-alt: transparent;
  --background-tertiary: transparent;
  --background-accent: #4f545c;
  --background-floating: transparent;
  --background-mobile-primary: #36393f;
  --background-mobile-secondary: #2f3136;
  --background-modifier-hover: rgba(255,255,255,0.05);
  --background-modifier-active: rgba(255,255,255,0.07);
  --background-modifier-selected: rgba(255,255,255,0.1);
  --background-modifier-accent: rgba(255,255,255,0.1);
  --background-mentioned: rgba(250,166,26,0.05);
  --background-mentioned-hover: rgba(250,166,26,0.08);
  --background-message-hover: rgba(4,4,5,0.07);
  --elevation-stroke: 0 0 0 1px rgba(4,4,5,0.15);
  --elevation-low: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
  --elevation-medium: 0 4px 4px rgba(0,0,0,0.16);
  --elevation-high: 0 8px 16px rgba(0,0,0,0.24);
  --logo-primary: #fff;
  --guild-header-text-shadow: 0 1px 1px rgba(0,0,0,0.4);
  --channeltextarea-background: rgba(255,255,255,0.05);
  --activity-card-background: #202225;
  --textbox-markdown-syntax: #8e9297;
  --deprecated-card-bg: rgba(0,0,0,0.3);
  --deprecated-card-editable-bg: rgba(0,0,0,0.3);
  --deprecated-store-bg: #36393f;
  --deprecated-quickswitcher-input-background: var(--channeltextarea-background);
  --deprecated-quickswitcher-input-placeholder: rgba(255,255,255,0.5);
  --deprecated-text-input-bg: rgba(0,0,0,0.1);
  --deprecated-text-input-border: rgba(0,0,0,0.3);
  --deprecated-text-input-border-hover: #040405;
  --deprecated-text-input-border-disabled: #202225;
  --deprecated-text-input-prefix: #dcddde;
  --text-link: var(--link-colour);
}

#app-mount:before {
  content: "";
  background: var(--background-image);
  background-position: var(--background-image-position, center);
  background-size: var(--background-image-size, cover);
  position: absolute;
  height: calc(100vh + (var(--background-image-blur) * 2));
  width: calc(100vw + (var(--background-image-blur) * 2));
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#app-mount .layers-3iHuyZ {
  margin: var(--window-padding);
  overflow: hidden;
  border-radius: var(--window-roundness);
}
#app-mount .layer-3QrUeG {
  background: var(--tint);
}
#app-mount .base-3dtUhz:before {
  content: "";
  position: absolute;
  height: 5px;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.2), transparent);
  z-index: 1;
  top: 48px;
  pointer-events: none;
  -webkit-user-select: none;
          user-select: none;
}
#app-mount .botTagRegular-2HEhHi {
  background: var(--gradient);
  color: var(--text-normal);
  margin-top: 0;
}
#app-mount .botText-1526X_ {
  font-weight: 600;
}
#app-mount .botTagInvert-18-95s {
  color: rgb(var(--gradient-primary));
}
#app-mount .botTagInvert-18-95s .botText-1526X_ {
  font-weight: bold;
}

::selection {
  background: rgb(var(--gradient-primary));
  color: var(--text-normal);
}

#app-mount .app-2rEoOp::before {
  content: "Your version of Frosted Glass is outdated. Please redownload";
  white-space: pre-wrap;
  display: var(--update-notice-1, block);
  color: #fff;
  text-align: center;
  padding: 10px 0;
  box-sizing: border-box;
  background: rgb(var(--discord-blurple), 0.7);
  text-shadow: 0 2px 3px rgba(0, 0, 0, var(--text-shadow));
}

::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
  border-color: transparent !important;
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px !important;
  border: none !important;
  background-clip: content-box !important;
  background: var(--scrollbar-colour) !important;
}

::-webkit-scrollbar-corner {
  visibility: hidden !important;
}

.scrollerThemed-2oenus.themeHidden-2yP93k .scroller-2FKFPG::-webkit-scrollbar,
.scrollerThemed-2oenus.themeHidden-2yP93k .scroller-2FKFPG::-webkit-scrollbar-corner,
.scrollerThemed-2oenus.themeHidden-2yP93k .scroller-2FKFPG::-webkit-scrollbar-thumb,
.scrollerThemed-2oenus.themeHidden-2yP93k .scroller-2FKFPG::-webkit-scrollbar-track {
  display: none !important;
}

::-webkit-input-placeholder, body, button, input, select, textarea {
  font-family: var(--font, "Whitney");
}

#app-mount .tooltip-2QfLtc {
  color: var(--text-normal);
  text-align: center;
  font-weight: 600;
}
#app-mount .tooltipBlack-PPG47z {
  background: var(--gradient);
}
#app-mount .tooltipBlack-PPG47z .tooltipPointer-3ZfirK {
  display: none;
}

#app-mount .layers-3iHuyZ:before {
  content: "";
  background: var(--background-image);
  background-position: var(--background-image-position, center);
  background-size: var(--background-image-size, cover);
  background-repeat: var(--background-image-repeat, no-repeat);
  height: calc(100vh + (var(--background-image-blur) * 2));
  width: calc(100vw + (var(--background-image-blur) * 2));
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  filter: blur(var(--background-image-blur));
  pointer-events: none;
  -webkit-user-select: none;
          user-select: none;
}
#app-mount [role=menu],
#app-mount .autocompleteInner-zh20B_,
#app-mount .container-3ayLPN,
#app-mount .container-enaOkj,
#app-mount .contextMenu-HLZMGh:not(.scroller-2FKFPG),
#app-mount .emojiPicker-3PwZFl,
#app-mount .messagesPopoutWrap-1MQ1bW,
#app-mount .modal-yWgWj-:not(.slide-2pHaq5),
#app-mount .root-1gCeng:not(.fullscreenOnMobile-1bD22y),
#app-mount .root-SR8cQa,
#app-mount .subMenuContext-2n_9YM .scrollerWrap-2lJEkd,
#app-mount .userPopout-3XzG_A,
#app-mount section.positionContainer-3unAXC .drawerSizingWrapper-27qFHb,
#app-mount .quickswitcher-3JagVE,
#app-mount .root-1gCeng.wrapper-2ZbzR9,
#app-mount .modalRoot-1Kx4Hb,
#app-mount .container-3JTnYm.thin-1ybCId.scrollerBase-289Jih,
#app-mount .popoutContainer-1MXdqN,
#app-mount .root-1gCeng:not(.modal-qgFCbT) {
  overflow: hidden !important;
  position: relative;
  border-radius: 3px;
}
#app-mount [role=menu]:before,
#app-mount .autocompleteInner-zh20B_:before,
#app-mount .container-3ayLPN:before,
#app-mount .container-enaOkj:before,
#app-mount .contextMenu-HLZMGh:not(.scroller-2FKFPG):before,
#app-mount .emojiPicker-3PwZFl:before,
#app-mount .messagesPopoutWrap-1MQ1bW:before,
#app-mount .modal-yWgWj-:not(.slide-2pHaq5):before,
#app-mount .root-1gCeng:not(.fullscreenOnMobile-1bD22y):before,
#app-mount .root-SR8cQa:before,
#app-mount .subMenuContext-2n_9YM .scrollerWrap-2lJEkd:before,
#app-mount .userPopout-3XzG_A:before,
#app-mount section.positionContainer-3unAXC .drawerSizingWrapper-27qFHb:before,
#app-mount .quickswitcher-3JagVE:before,
#app-mount .root-1gCeng.wrapper-2ZbzR9:before,
#app-mount .modalRoot-1Kx4Hb:before,
#app-mount .container-3JTnYm.thin-1ybCId.scrollerBase-289Jih:before,
#app-mount .popoutContainer-1MXdqN:before,
#app-mount .root-1gCeng:not(.modal-qgFCbT):before {
  content: "";
  background: linear-gradient(var(--tint), var(--tint)), var(--popout-modal-image);
  background-position: var(--popout-modal-position, center);
  background-size: var(--popout-modal-size, cover);
  background-attachment: var(--popout-modal-attachment, fixed);
  background-repeat: var(--popout-modal-repeat, no-repeat);
  box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, var(--popout-modal-brightness));
  height: calc(100% + var(--popout-modal-blur) * 5);
  width: calc(100% + var(--popout-modal-blur) * 5);
  top: calc(var(--popout-modal-blur) / -1 * 2.5);
  left: calc(var(--popout-modal-blur) / -1 * 2.5);
  position: absolute;
  filter: blur(var(--popout-modal-blur));
  pointer-events: none;
  -webkit-user-select: none;
          user-select: none;
  z-index: -1;
}

#app-mount .lookFilled-1Gx00P.colorPrimary-3b3xI6,
#app-mount .lookGhost-2Fn_0-.colorGrey-2DXtkV,
#app-mount .lookInverted-2D7oAl.colorBrand-3pXr91,
#app-mount .lookOutlined-3sRXeN.colorPrimary-3b3xI6,
#app-mount .lookOutlined-3sRXeN.colorWhite-rEQuAQ {
  background-color: var(--white);
  color: var(--text-normal);
  border-color: transparent;
  transition: 0.2s ease;
}
#app-mount .lookFilled-1Gx00P.colorPrimary-3b3xI6:hover,
#app-mount .lookGhost-2Fn_0-.colorGrey-2DXtkV:hover,
#app-mount .lookInverted-2D7oAl.colorBrand-3pXr91:hover,
#app-mount .lookOutlined-3sRXeN.colorPrimary-3b3xI6:hover,
#app-mount .lookOutlined-3sRXeN.colorWhite-rEQuAQ:hover {
  background: var(--white-double);
}
#app-mount .lookFilled-1Gx00P.colorPrimary-3b3xI6:active,
#app-mount .lookGhost-2Fn_0-.colorGrey-2DXtkV:active,
#app-mount .lookInverted-2D7oAl.colorBrand-3pXr91:active,
#app-mount .lookOutlined-3sRXeN.colorPrimary-3b3xI6:active,
#app-mount .lookOutlined-3sRXeN.colorWhite-rEQuAQ:active {
  background: var(--white-triple);
}
#app-mount .actionRed-gYn8D3,
#app-mount .colorRed-1TFJan {
  background: rgba(var(--discord-red), 0.5);
  border: none;
  color: #fff;
  transition: 0.2s ease;
}
#app-mount .actionRed-gYn8D3:active, #app-mount .actionRed-gYn8D3:hover,
#app-mount .colorRed-1TFJan:active,
#app-mount .colorRed-1TFJan:hover {
  background: rgb(var(--discord-red));
}
#app-mount .lookFilled-1Gx00P.colorGreen-29iAKY {
  background: rgba(var(--discord-green), 0.4);
  transition: 0.2s ease;
}
#app-mount .lookFilled-1Gx00P.colorGreen-29iAKY:active, #app-mount .lookFilled-1Gx00P.colorGreen-29iAKY:hover {
  background: rgb(var(--discord-green));
}
#app-mount .lookInverted-2D7oAl.colorGreen-29iAKY {
  background: var(--white);
}
#app-mount .lookInverted-2D7oAl.colorGreen-29iAKY:hover {
  background: var(--white-double);
}
#app-mount .lookInverted-2D7oAl.colorGreen-29iAKY:active {
  background: var(--white-triple);
}
#app-mount .bd-pfbtn,
#app-mount .lookFilled-1Gx00P.colorBrand-3pXr91 {
  background: var(--gradient);
}
#app-mount .lookLink-9FtZy-.colorBrand-3pXr91 {
  color: rgb(var(--gradient-primary));
  opacity: 1;
}
#app-mount .lookOutlined-3sRXeN.colorBrand-3pXr91 {
  background: rgba(var(--discord-blurple), 0.3);
  border: transparent;
  transition: 0.2s ease;
  color: #fff;
}
#app-mount .lookOutlined-3sRXeN.colorBrand-3pXr91:active, #app-mount .lookOutlined-3sRXeN.colorBrand-3pXr91:hover {
  background: rgb(var(--discord-blurple));
}
#app-mount .bd-search-wrapper,
#app-mount .input-cIJ7To:not(.searchBoxInput-K6mkng) {
  background: var(--background-secondary);
  border-color: transparent;
  color: var(--text-normal);
}
#app-mount .bd-search-wrapper::placeholder,
#app-mount .input-cIJ7To:not(.searchBoxInput-K6mkng)::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
#app-mount .bd-search::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
#app-mount .item-26Dhrx {
  border: none;
  background: var(--background-secondary);
}
#app-mount .item-26Dhrx .checkbox-1ix_J3 {
  border: none;
  background: var(--white-double);
}
#app-mount .item-26Dhrx .checkbox-1ix_J3.checked-3_4uQ9 {
  background: var(--text-normal) !important;
}
#app-mount .item-26Dhrx[style*="rgb(114, 137, 218)"] {
  background: var(--gradient) !important;
}
#app-mount .item-26Dhrx[style*="rgb(114, 137, 218)"] .checkbox-1ix_J3 {
  background: var(--text-normal);
}
#app-mount .item-26Dhrx[style*="rgb(114, 137, 218)"] polyline {
  stroke: rgb(var(--gradient-primary));
}
#app-mount .item-26Dhrx[style*="rgb(240, 71, 71)"] .checkbox-1ix_J3, #app-mount .item-26Dhrx[style*="rgb(250, 166, 26)"] .checkbox-1ix_J3, #app-mount .item-26Dhrx[style*="rgb(67, 181, 129)"] .checkbox-1ix_J3 {
  background: var(--text-normal);
}
#app-mount .bd-switch,
#app-mount .valueUnchecked-2lU_20 {
  background: var(--white-double);
}
#app-mount .bd-switch-checked,
#app-mount .themeDefault-24hCdX.valueChecked-m-4IJZ {
  background: var(--gradient);
}
#app-mount .checkboxElement-1qV33p:checked + span {
  border-color: rgb(var(--gradient-primary));
  background: rgb(var(--gradient-primary));
}
#app-mount .checkbox-3s5GYZ {
  color: rgb(var(--gradient-primary));
}
#app-mount .checkbox-1ix_J3 {
  background: var(--white);
  border: none;
}
#app-mount .checkbox-1ix_J3.checked-3_4uQ9 {
  background: var(--gradient) !important;
  border: none !important;
}
#app-mount [class*=css][class*=control], #app-mount .select-1Pkeg4 {
  background: var(--background-secondary);
  border-color: transparent;
}
#app-mount [class*=css][class*=placeholder] {
  color: rgba(255, 255, 255, 0.5);
  opacity: 1;
}
#app-mount .bar-2Qqk5Z {
  background: var(--white-double);
}
#app-mount .barFill-23-gu- {
  background: var(--gradient);
}
#app-mount .container-1nZlH6 {
  background: var(--background-secondary);
  border-color: transparent;
}

#app-mount .title-3qD0b- .searchBar-3dMhjb {
  background: var(--background-secondary);
}

#app-mount .notice-3bPHh- {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  box-shadow: none;
}
#app-mount .notice-3bPHh- .button-2DhvE9 {
  top: 0;
  background: var(--white);
  border-color: transparent;
  color: #fff;
}
#app-mount .notice-3bPHh- .button-2DhvE9:hover {
  background: var(--white-double);
}
#app-mount .notice-3bPHh- .button-2DhvE9:active {
  background: var(--white-triple);
}
#app-mount .closeButton-3cJIM4 {
  right: unset;
  left: 0;
  height: 48px;
}
#app-mount .noticeStreamerMode-2TSQpg {
  background: rgba(var(--discord-twitch), 0.6);
}

#app-mount .guilds-1SWlCJ.wrapper-1Rf91z {
  background-color: transparent;
}
#app-mount .guilds-1SWlCJ.wrapper-1Rf91z .scroller-2TZvBN {
  background-color: rgba(0, 0, 0, var(--serverlist-brightness));
}
#app-mount .guilds-1SWlCJ.wrapper-1Rf91z .scroller-2TZvBN::-webkit-scrollbar {
  display: none;
}
#app-mount .guilds-1SWlCJ .expandedFolderBackground-2sPsd- {
  background: var(--white);
}
#app-mount .guilds-1SWlCJ .folder-21wGz3 {
  background: transparent;
}
#app-mount .guilds-1SWlCJ .tutorialContainer-1v44GL .childWrapper-anI2G9 {
  background: var(--gradient);
  background-color: transparent;
}
#app-mount .guilds-1SWlCJ .tutorialContainer-1v44GL .wrapper-1BJsBx:before {
  content: "";
  border-radius: 50%;
  position: absolute;
  background: var(--home-button-image, url("https://gibbu.github.io/BetterDiscord-Themes/FrostedGlass/assets/discord.svg"));
  background-size: var(--home-button-size, cover);
  background-position: var(--home-button-position, center);
  height: 100%;
  width: 100%;
  transition: 0.2s ease;
}
#app-mount .guilds-1SWlCJ .tutorialContainer-1v44GL .wrapper-1BJsBx.selected-bZ3Lue:before {
  border-radius: 30%;
}
#app-mount .guilds-1SWlCJ .tutorialContainer-1v44GL .homeIcon-tEMBK1 {
  display: none;
}
#app-mount .guilds-1SWlCJ .selected-bZ3Lue .acronym-2mOFsV {
  background: var(--white-double);
}
#app-mount .guilds-1SWlCJ .acronym-2mOFsV {
  background: var(--white);
}
#app-mount .guilds-1SWlCJ .acronym-2mOFsV:hover {
  background: var(--white-double);
}
#app-mount .guilds-1SWlCJ .circleIconButton-jET_ig {
  background: var(--white);
  color: rgb(var(--gradient-primary));
}
#app-mount .guilds-1SWlCJ .circleIconButton-jET_ig.selected-ugP_am, #app-mount .guilds-1SWlCJ .circleIconButton-jET_ig:hover {
  background: var(--white-double);
  color: var(--text-normal);
}

#app-mount .sidebar-2K8pFh {
  border-radius: 0;
  background: rgba(0, 0, 0, var(--left-brightness));
}
#app-mount .sidebar-2K8pFh .container-3w7J-x,
#app-mount .sidebar-2K8pFh .privateChannels-1nO12o,
#app-mount .sidebar-2K8pFh .scroller-1JbKMe {
  background-color: transparent;
}
#app-mount .sidebar-2K8pFh [role=list] > div[style="width: 100%; height: 84px; visibility: hidden;"] {
  height: 120px !important;
}

#app-mount .header-2o-2hj {
  background: transparent;
  box-shadow: none;
}
#app-mount .animatedContainer-1pJv5C {
  -webkit-mask: linear-gradient(rgba(0, 0, 0, 0.9) 60%, rgba(0, 0, 0, 0) 100%) !important;
  top: 48px;
  background: transparent;
}

#app-mount .containerDefault--pIXnN .modeUnread-1qO3K1 .content-1x5b-n {
  background: var(--white);
}
#app-mount .containerDefault--pIXnN .wrapper-1ucjTd:hover .content-1x5b-n {
  background: var(--background-modifier-hover);
}
#app-mount .containerDefault--pIXnN .wrapper-1ucjTd:hover .content-1x5b-n .icon-1DeIlz {
  color: var(--interactive-hover);
}
#app-mount .containerDefault--pIXnN.selected-3LIHYU .content-1x5b-n {
  background: var(--gradient) !important;
}
#app-mount .containerDefault--pIXnN.selected-3LIHYU .content-1x5b-n .icon-1DeIlz {
  color: var(--text-normal);
}
#app-mount .users-i_3-kL {
  background: var(--white);
  padding: 0 5px;
  width: auto;
}
#app-mount .total-3tKGEB {
  background: var(--white-double);
  padding: 0 5px;
  width: auto;
}
#app-mount .containerUserOver-2mv1jO:after {
  background: var(--gradient-20);
  border: 2px solid rgb(var(--gradient-primary));
}

#app-mount .channel-2QD9_O.selected-aXhQR6 .layout-2DM8Md {
  background: var(--gradient);
}

#app-mount .panels-j1Uci_ {
  background: transparent;
}
#app-mount .panels-j1Uci_ .lookFilled-1Gx00P.colorBrand-3pXr91 {
  background: var(--white);
}
#app-mount .panels-j1Uci_ .lookFilled-1Gx00P.colorBrand-3pXr91:hover {
  background: var(--white-double);
}
 
}
